-#instructions.html.haml

.card
  .top-bar
    %button= link_to 'Редактировать(пока не работает)', new_instruction_path
    %button= link_to 'Удалить', instruction_path(@instruction.id), :method => 'DELETE'

  .form-group
    %h2= @instruction.title
    %p= @instruction.instruct_type
    %p= @instruction.text
